*/**/venv                                                                                           
*/**/tmp                                                                                            
*/**/__pycache__                                                                                    
*/**/dist                                                                                           
*/**/node_modules                                                                                   
*/**/iotics.esp.*.egg-info
