*/**/venv                                                                                           
*/**/tmp                                                                                            
*/**/__pycache__                                                                                    
*/**/dist                                                                                           
*/**/node_modules                                                                                   
*/**/iotics.esp.*.egg-info
dist/
**/*.wasm
node_modules/
.nuxt
**/ioticsIdentity*.js
tmp/
